@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

.navbar-container{
  margin-top: 1.5%;
  display: flex;
  align-items: center;
}

.leftNav:hover{
  text-decoration: underline;
}

.leftNav{
  flex: 1;
  display: flex;
  justify-content: left;
  margin-left: 3%;
}

.rightNav{
  flex:1 ;
  margin-right: 3%;
  gap: 2%;
  display: flex;
  justify-content: right;
  color: #F22613;
  text-decoration: underline;
}

.navHorizontalRule hr{
  height: 3px;
  width: 90vw;
  color: #BFBFBF;
  background: #BFBFBF;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.navHorizontalRule{
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
