@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nimbus-mono;
  src: url('../Pages/Fonts/nimbus-mono.regular.otf');
  src: url('../Pages/Fonts/nimbus-mono.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../Pages/Fonts/OpenSans-Regular.ttf');
  src:url('../Pages/Fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

.selectionEffect::-moz-selection{
  text-shadow: 1px 1px 1px red;
  background-color: transparent;
  text-decoration: underline;
}

.selectionEffect::selection{
  text-shadow: 1px 1px 1px red;
  background-color: transparent; 
  text-decoration: underline;
}

.navbar-container{
  font-size: 16px;
  font-family: nimbus-mono;
  margin-top: 1.5%;
  display: flex;
  align-items: center;
}

.leftNav:hover{
  text-decoration: underline;
}

.leftNav{
  flex: 1;
  display: flex;
  justify-content: left;
  margin-left: 3%;
}

.rightNav{
  flex:1 ;
  margin-right: 3%;
  gap: 2%;
  display: flex;
  justify-content: right;
  color: #F22613;
  text-decoration: underline;
}

.navHorizontalRule hr{
  height: 3px;
  width: 95vw;
  color: #BFBFBF;
  background: #BFBFBF;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.navHorizontalRule{
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Home Page CSS */

.homepage{
  font-family: OpenSans;
  font-weight: 600;
  display: flex;
}

.leftText{
  margin:2vw 2vw;
  flex:2;
  display: flex;
  flex-direction: column;
}

.rightProjects{
  flex:3;
}

.text{
  font-size: 30px;
}
