@font-face {
    font-family: nimbus-mono;
    src: url('../../Pages/Fonts/nimbus-mono.regular.otf');
    src: url('../../Pages/Fonts/nimbus-mono.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('../../Pages/Fonts/OpenSans-Regular.ttf');
    src:url('../../Pages/Fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.card{
    /* border-radius: 25px; */
    padding: 20px;
    width: 30vw;
    height: 20vw;
    border: 1px dashed #F33422;
    /* margin: 2% 2%; */
}

.card:hover{
    border: 1px solid #F33422;
    transition-duration: 5s;
    /* transition-delay: 2s; */
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content::selection{
    color:#F33422;
    background-color:#F33422;
}

.content::-moz-selection{
    color:#F33422;
    background-color:#F33422;
}

.selectionEffect::-moz-selection{
    text-shadow: 1px 1px 1px red;
    background-color: transparent;
    text-decoration: underline;
}
  
.selectionEffect::selection{
    text-shadow: 1px 1px 1px red;
    background-color: transparent; 
    text-decoration: underline;
}

.titleText{
    font-size: 17px;
    flex:1;
    font-family: nimbus-mono;
    color: #F33422;
}

.dateText{
    font-size:17px;
    margin-bottom: 20px;
    flex:1;
    font-family: nimbus-mono;
    color: #383838;
}

.descriptionText{
    /* margin-bottom: 30px; */
    flex:5;
    font-size: 22px;
    font-weight: 600;
    font-family: OpenSans;
}  

.linkText{
    /* margin-top: 20px; */
    margin-right:20px;
    font-size:17px;
    font-family: nimbus-mono;
}

.redirect{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


@media screen and (max-width:1600px) {
    .card{
        width:40vw;
        height:25vw;
    }
/* 
    .blogGrid{
        grid-template-columns:auto auto;
    } */
}